# Projeto de previsão climática El NINO e seus impactos no Brasil
# Programa de Pós Graduação em Oceanografia UFPE
# Oceanografia Física
# Thiago Vilar

aiohttp
cartopy
cdsapi
copernicusmarine
dask
folium
fsspec
geopandas
gsw
h5netcdf
ipykernel
joblib
lightgbm
matplotlib
netCDF4
nbconvert
nbformat
numcodecs
numpy
pandas
plotly
PyYAML
pytorch-lightning
pytest
rasterio
regionmask
requests
rioxarray
scikit-learn
scipy
seaborn
shap
torch
tqdm
xarray
xesmf
xgboost
zarr
